@model Book;

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<p><strong>@Model.Author</strong></p>
<p><strong>@Model.Description</strong></p>
<p><strong>Price @Model.Price</strong></p>

<form action="@Url.Action("Add", "Cart")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-outline-success" type="submit">Add to cart</button>
</form>

@*
GET запрашивает представление указанного ресурса. 
Обратите внимание, что GET не следует использовать для операций, вызывающих побочные эффекты, например, для выполнения действий в веб-приложениях. 
Одна из причин этого заключается в том, что GET может произвольно использоваться роботами или поисковыми роботами,
которым не нужно учитывать побочные эффекты, которые должен вызвать запрос.

и

POST отправляет данные для обработки (например, из HTML-формы) в указанный ресурс.
Данные включаются в тело запроса. Это может привести к созданию нового ресурса или обновлению существующих ресурсов или к тому и другому.
(Изменяет состояние сайта)*@