@model OrderModel

@{ 
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @for(int i =0; i < Model.Items.Count; i++)
         {
        <tr>
            <td>@(i+1)</td>
            <td>@Model.Items[i].Title</td>
            <td>@Model.Items[i].Author</td>
            <td>@Model.Items[i].Price $</td>
        </tr>
        }        
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>Total amount - @Model.TotalCount</td>
            <td>Total price - @Model.TotalPrice $</td>
        </tr>
    </tfoot>    
</table>

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <input type ="hidden" name="id" value="@Model.Id"/>
    <div class="form-group">
        <label for="cellPhone">Cell phone</label>
        <input type="text" class="form-control" name="cellPhone" value="+79273546734"/>
        @if (Model.Errors.ContainsKey("cellPhone"))
         {
                <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
         }
    </div>
    <button class="btn btn-success" type="submit">Send code</button>
</form>